.outfit {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  animation: spinning82341 1.7s linear infinite;
  border-radius: 10px;
  padding: 1px;
  /* filter: blur(1px); */
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 10px 0px rgb(0, 225, 255);
}
/* @keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
} */

.container {
  width: 350px;
  background-color: rgba(21, 38, 63, 1);
  border-radius: 10px;
  padding: 24px 24px 32px;

  position: relative;
  padding: 1.8rem;
  border: 1px solid transparent;
  transition: 0.5s ease-out;
  overflow: visible;
}

.container:hover {
  border-color: #1bfef7;
  box-shadow: 0 3px 13px 0 #fb4871;
}

.equilibrium {
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
}

.title {
  font-family: Outfit;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  color: white;
  margin-top: 24px;
}
.title:hover {
  color: rgba(0, 255, 248, 1);
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: rgba(139, 172, 217, 1);
  margin-top: 16px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  border-bottom: 1px solid rgba(46, 64, 90, 1);
  padding-bottom: 24px;
}

.info-container div {
  display: flex;
  align-items: center;
  gap: 6.5px;
  font-size: 16px;
}

.info-container div span {
  font-size: 16px;
  line-height: 20px;
}

.eth span {
  color: rgba(0, 255, 248, 1);
  font-weight: 600;
}
.clock span {
  color: rgba(139, 172, 217, 1);
  font-weight: 400;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.avatar img {
  width: 33px;
  height: 33px;
  border: 1px silod white;
  border-radius: 50%;
}
.avatar p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(139, 172, 217, 1);
}
.avatar p span {
  color: white;
}
.avatar p span:hover {
  color: rgba(0, 255, 248, 1);
}
